<div class="fLECHEDROITE"><img src="assets/fleche-droite-icon.svg" alt="" class="icon" /></div>
<div class="fLECHEGAUCHE"><img src="assets/fleche-gauche-icon.svg" alt="" class="icon2" /></div>
<div class="rectangle310"></div>
<div class="eTOILE3"><img src="assets/etoile3-icon.svg" alt="" class="icon3" /></div>
<div class="jeSuisRavieDeMonExperienceAvec">
  <div class="textBlock">Je suis ravie de mon expérience avec ce</div>
  <div class="textBlock2">site ! J&amp;#39;ai commandé une armoire et une</div>
  <div class="textBlock3">commode pour ma chambre et je suis</div>
  <div class="textBlock4">impressionnée par la qualité du bois et</div>
  <div class="textBlock5">de la fabrication. La livraison a été rapide</div>
  <div class="textBlock6">et les meubles étaient bien protégés.</div>
</div>
<div class="fatma">Fatma</div>
<div class="_20000047286923"></div>
<div class="rectangle309"></div>
<div class="eTOILE2"><img src="assets/etoile2-icon.svg" alt="" class="icon4" /></div>
<div class="jeSuisUnClientFideleDeCeSiteDe">
  <div class="textBlock7">Je suis un client fidèle de ce site depuis</div>
  <div class="textBlock8">plusieurs années et je n&amp;#39;ai jamais été</div>
  <div class="textBlock9">déçu ! J&amp;#39;ai acheté divers meubles pour</div>
  <div class="textBlock10">mon appartement et chaque fois, la</div>
  <div class="textBlock11">qualité et le service ont été impeccables.</div>
</div>
<div class="hatem">Hatem</div>
<div class="_20000047286922"></div>
<div class="rectangle308"></div>
<div class="eTOILE1"><img src="assets/etoile1-icon.svg" alt="" class="icon5" /></div>
<div class="JAiRecemmentCommandeUneTableAM">
  <div class="textBlock12">&amp;quot;J&amp;#39;ai récemment commandé une table</div>
  <div class="textBlock13">à manger et des chaises sur ce site et</div>
  <div class="textBlock14">je suis très satisfaite de mon achat !</div>
  <div class="textBlock15">La qualité des meubles est excellente</div>
  <div class="textBlock16">et le processus de commande était</div>
  <div class="textBlock17">simple et fluide.</div>
</div>
<div class="mariem">Mariem</div>
<div class="_20000047286921"></div>
<div class="avisClient">Avis Client</div>

