<!--<div class="rectangle431"></div>
<div class="_433684812_258374630674984_1867"></div>

<div class="liens">Liens</div>
<div class="accueil">Accueil</div>
<div class="boutique">Boutique</div>
<div class="apropos">A propos</div>

<div class="aide">Aide</div>
<div class="optionsDePaiement">Options de paiement</div>
<div class="lesPolitiquesDeConfidentialite">Les politiques de confidentialité</div>
<div class="retours">Retours</div>

<div class="contactezNous">Contactez-nous</div>
<div class="instagram5"></div>
<div class="facebook5"></div>
<div class="linkedin5"></div>
<div class="pinterest"></div>-->


<footer> 
    <div class="rectangle431"></div>
<div class="_433684812_258374630674984_1867"></div>
<div class="footer-content">

    <div class="rectangle431"></div>
      <a href=""><div class="_433684812_258374630674984_1867"></div></a>
   
       <ul class="list">
           <li><div class="liens">Liens</div></li>
           <li><a href="#"><div class="accueil">Accueil</div></a></li>
           <li><a href="#"><div class="boutique">Boutique</div></a></li>
           <li><a href="#"><div class="apropos">A propos</div></a></li>
        </ul>
   </div>
   

   <div class="footer-content">
   
        <ul class="list">
           <li><div class="aideetservices">Aide et Services </div></li>
           <li><a href="#"><div class="optionsDePaiement">Options de paiement</div></a></li>
           <li><a href="#"><div class="lesPolitiquesDeConfidentialite">Les Politiques de confidentialité</div></a></li>
           <li><a href="#"><div class="livraisonetretours">Livraison et retours</div></a></li>
        </ul>
   </div>
   <div class="footer-content">

      <ul class="social-icons">
          <li><div class="contactezNous">Contactez-Nous</div></li>
          <li><a href="#"><i class="instagram"></i></a></li>
          <li><a href="#"><i class="facebook"></i></a></li>
          <li><a href="#"><i class="linkedin"></i></a></li>
          <li><a href="#"><i class="pinterest"></i></a></li>
      </ul>
  </div>
  
</footer>  


<!--
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    
</head>


<footer class="bg-light py-4">
   <div class="container">
       <div class="row">
           <div class="col-md-4">
               <img src="path/to/logo.png" alt="Woodly Mood Logo" class="mb-3">
               <p>&copy; 2024 Woodly Mood. All rights reserved.</p>
           </div>
           <div class="col-md-2">
               <h5>Liens</h5>
               <ul class="list-unstyled">
                   <li><a href="#">Accueil</a></li>
                   <li><a href="#">Boutique</a></li>
                   <li><a href="#">A propos</a></li>
               </ul>
           </div>
           <div class="col-md-2">
               <h5>Aide et Services</h5>
               <ul class="list-unstyled">
                   <li><a href="#">Options de paiement</a></li>
                   <li><a href="#">Les politiques de confidentialité</a></li>
                   <li><a href="#">Livraison et retours</a></li>
               </ul>
           </div>
           <div class="col-md-4">
               <h5>Contactez-Nous</h5>
               <ul class="list-unstyled">
                   <li><a href="#">Instagram</a></li>
                   <li><a href="#">Facebook</a></li>
                   <li><a href="#">Pinterest</a></li>
               </ul>
           </div>
       </div>
   </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="scripts.js"></script>

</html>
-->