:host,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  flex-shrink: 0;
  text-decoration: none;
  min-width: 0;
  overflow-wrap: anywhere;
}

:host,
:not(span, a, ul, ol, li, p) {
  display: flex;
}

ul,
ol {
  text-indent: 0;
  padding-inline-start: 1.5em;
}

p:empty::before {
  content: '';
  display: inline-block;
}

img {
  object-fit: contain;
}

svg {
  overflow: visible;
}

.newsletter {
  color: #3e6259;
  font-size: 40px;
  font-weight: bold;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 552px;
  top: 6090px;
  width: 335px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.neRatezPasNosOffresExclusivesC {
  position: absolute;
  left: 341px;
  top: 6161px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock {
  color: #000;
  font-size: 24px;
  font-weight: 300;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock2 {
  margin-top: 0;
  color: #000;
  font-size: 24px;
  font-weight: 300;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.rectangle295 {
  position: absolute;
  left: 844px;
  top: 6270px;
  width: 253px;
  height: 56px;
  border-radius: 5px;
  background-color: #3e6259;
}
.sInscrire {
  color: #fff;
  font-size: 24px;
  line-height: 150%;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 912px;
  top: 6280px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle294 {
  position: absolute;
  left: 341px;
  top: 6270px;
  width: 484px;
  height: 56px;
  outline: solid 2px #3e6259;
  outline-offset: -2px;
  border-radius: 5px;
  background-color: #fff;
}
.votreEmail {
  color: #7e7d7d;
  font-size: 12px;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 374px;
  top: 6290px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
