<div class="vECTORRIGHT"><img src="assets/vector-right-icon.svg" alt="" class="icon" /></div>
<div class="vECTORLEFT"><img src="assets/vector-left-icon.svg" alt="" class="icon2" /></div>
<div class="captureDEcran2024331407433"></div>
<div class="rectangle426"></div>
<div class="prix295TND">
  <p class="labelWrapper">
    <span class="label">Prix : 295 TND</span>
    <span class="label2"></span>
    <span class="label3"></span>
  </p>
</div>
<div class="vasque">Vasque</div>
<div class="captureDEcran2024331417342"></div>
<div class="rectangle425"></div>
<div class="prix270TND">
  <p class="labelWrapper2">
    <span class="label4">Prix : 270 TND</span>
    <span class="label5"></span>
    <span class="label6"></span>
  </p>
</div>
<div class="table">Table</div>
<div class="captureDEcran2024331406492"></div>
<div class="buffet">Buffet</div>
<div class="rectangle424"></div>
<div class="prix320TND">
  <p class="labelWrapper3">
    <span class="label7">Prix : 320 TND</span>
    <span class="label8"></span>
    <span class="label9"></span>
  </p>
</div>
<div class="nosCoupsDeCoeur">Nos coups de coeur</div>

