<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Woody Mood</title>
   
    
</head>
<body>

<div class="rectangle270"></div>
<div class="suiviCommande">Suivi commande</div>
<div class="vector3Stroke"><img src="assets/vector-3-stroke-icon.svg" alt="" class="icon" /></div>
<div class="contactezNous">Contactez-nous</div>
<div class="vector3Stroke2"><img src="assets/vector-3-stroke-icon2.svg" alt="" class="icon2" /></div>
<div class="inscrivezVous">Inscrivez-vous</div>
<div class="disponibleDeLundiAVendredi9hA1">Disponible de Lundi à Vendredi : 9h à 17h</div>
<div class="vector3Stroke3"><img src="assets/vector-3-stroke-icon3.svg" alt="" class="icon3" /></div>
<div class="_10PourVotrePremierAchat">-10% pour votre premier achat</div>

<div class="rectangle338"></div>
<div class="ellipse61"><img src="assets/ellipse-61-icon.svg" alt="" class="icon4" /></div>
<div class="unnamed">0</div>
<div class="shoppingCart1"></div>
<div class="heart"></div>
<div class="utilisateur2"></div>
<div class="_544812"></div>
<div class="bLOG">BLOG</div>
<div class="pERSONNALISER">PERSONNALISER</div>
<div class="pROMOTION">PROMOTION</div>
<div class="vector"><img src="assets/vector-icon.svg" alt="" class="icon5" /></div>
<div class="cATALOGUE">CATALOGUE</div>
<div class="logo"></div>


<div class="captureDEcran20243251931541"></div>
<div class="rectangle3382"></div>
<div class="jEnProfite">J’en profite</div>
<div class="group204"><img src="assets/group-204-icon.svg" alt="" class="icon6" /></div>
<div class="desPromotionsJusquAu50">Des promotions jusqu’au 50%</div>

<div class="ellipse8"><img src="assets/ellipse-8-icon.svg" alt="" class="icon7" /></div>
<div class="salleDeBain">Salle de bain</div>
<div class="salleDeBains11"></div>
<div class="ellipse12"><img src="assets/ellipse-12-icon.svg" alt="" class="icon8" /></div>
<div class="chambre">Chambre</div>
<div class="chambre2"></div>
<div class="ellipse11"><img src="assets/ellipse-11-icon.svg" alt="" class="icon9" /></div>
<div class="cuisine">Cuisine</div>
<div class="tableDeCuisine"></div>
<div class="ellipse9"><img src="assets/ellipse-9-icon.svg" alt="" class="icon10" /></div>
<div class="jardin">Jardin</div>
<div class="table"></div>
<div class="ellipse10"><img src="assets/ellipse-10-icon.svg" alt="" class="icon11" /></div>
<div class="bureau">Bureau</div>
<div class="bureau2"></div>
<div class="ellipse13"><img src="assets/ellipse-13-icon.svg" alt="" class="icon12" /></div>
<div class="salon">Salon</div>
<div class="salon2"></div>

<div class="nosPromos">Nos Promos</div>
<div class="rectangle279"></div>
<div class="cartbamboo1"></div>
<div class="vector2"><img src="assets/vector-icon2.svg" alt="" class="icon13" /></div>
<div class="cartbamboo">Cartbamboo</div>
<div class="rangementDeSalleDeBainEnBois">Rangement de salle de bain en bois</div>
<div class="ellipse17"><img src="assets/ellipse-17-icon.svg" alt="" class="icon14" /></div>
<div class="_40">-40%</div>
<div class="prix90TND">
  <p class="labelWrapper">
    <span class="label">Prix : 90</span>
    <span class="label2">TND</span>
    <span class="label3"></span>
  </p>
</div>

<div class="_75TND">75 TND</div>
<div class="rectangle387"></div>
<div class="enStock">En stock</div>
<div class="ellipse37"><img src="assets/ellipse-37-icon.svg" alt="" class="icon15" /></div>
<div class="rectangle276"></div>
<div class="bbf24f0b58fc6cf48a7c8b14f1fd6d"></div>
<div class="ellipse3"><img src="assets/ellipse-3-icon.svg" alt="" class="icon16" /></div>
<div class="_402">-40%</div>
<div class="buffetEnBois">Buffet en bois</div>
<div class="hargrove6DrawerDresser">Hargrove -6- Drawer Dresser &nbsp;</div>
<div class="vector3"><img src="assets/vector-icon3.svg" alt="" class="icon17" /></div>
<div class="prix250TND">
  <p class="labelWrapper2">
    <span class="label4">Prix :</span>
    <span class="label5">250 TND</span>
    <span class="label6"></span>
  </p>
</div>
<div class="_140TND">140 TND</div>
<div class="rectangle388"></div>
<div class="enStock2">En stock</div>
<div class="ellipse38"><img src="assets/ellipse-38-icon.svg" alt="" class="icon18" /></div>
<div class="rectangle277"></div>
<div class="elliotConsole1"></div>
<div class="ellipse32"><img src="assets/ellipse-3-icon2.svg" alt="" class="icon19" /></div>
<div class="_50">-50%</div>
<div class="eliotConsole">Eliot Console</div>
<div class="vector4"><img src="assets/vector-icon4.svg" alt="" class="icon20" /></div>
<div class="prix120TND">
  <p class="labelWrapper3">
    <span class="label7">Prix : 120</span>
    <span class="label8">TND</span>
    <span class="label9"></span>
  </p>
</div>
<div class="_60TND">60 TND</div>
<div class="rectangle3882"></div>
<div class="enStock3">En stock</div>
<div class="ellipse382"><img src="assets/ellipse-38-icon2.svg" alt="" class="icon21" /></div>
<div class="commodeEnBoisDeTeck120Cm">Commode en bois de teck 120 cm</div>
<div class="rectangle280"></div>
<div class="portPlante1"></div>
<div class="vector5"><img src="assets/vector-icon5.svg" alt="" class="icon22" /></div>
<div class="ellipse15"><img src="assets/ellipse-15-icon.svg" alt="" class="icon23" /></div>
<div class="_15">-15%</div>
<div class="miniCoffret">Mini coffret</div>
<div class="miniCoffretDecoratifEnBois">Mini coffret décoratif en bois</div>
<div class="prix45TND">
  <p class="labelWrapper4">
    <span class="label10">Prix : 4</span>
    <span class="label11">5 TND</span>
    <span class="label12"></span>
  </p>
</div>
<div class="_39TND">39 TND</div>
<div class="rectangle3883"></div>
<div class="enStock4">En stock</div>
<div class="ellipse383"><img src="assets/ellipse-38-icon3.svg" alt="" class="icon24" /></div>
<div class="rectangle286"></div>
<div class="commodeEnBoisDeTeck120Cm2">Commode en bois de teck 120 cm</div>
<div class="commode1"></div>
<div class="ellipse33"><img src="assets/ellipse-3-icon3.svg" alt="" class="icon25" /></div>
<div class="_30">-30%</div>
<div class="commodeEnBois">
  <div class="textBlock">Commode en bois</div>
  <div class="textBlock2">
    <p class="labelWrapper5"><span class="label13">&nbsp;</span></p>
  </div>
</div>
<div class="vector6"><img src="assets/vector-icon6.svg" alt="" class="icon26" /></div>
<div class="rectangle3872"></div>
<div class="ruptureDeStock">Rupture de stock</div>
<div class="ellipse372"><img src="assets/ellipse-37-icon2.svg" alt="" class="icon27" /></div>
<div class="prix220TND">
  <p class="labelWrapper6">
    <span class="label14">Prix : 220</span>
    <span class="label15">TND</span>
    <span class="label16"></span>
  </p>
</div>
<div class="_150TND">150 TND</div>
<div class="rectangle278"></div>
<div class="organizeItAllBambooDoubleWide3"></div>
<div class="vector7"><img src="assets/vector-icon7.svg" alt="" class="icon28" /></div>
<div class="organizeItAllBambooDouble">Organize It All Bamboo Double</div>
<div class="rangementDeSalleDeBainEnBois2">Rangement de salle de bain en bois</div>
<div class="prix95TND">
  <p class="labelWrapper7">
    <span class="label17">Prix : 95</span>
    <span class="label18">TND</span>
    <span class="label19"></span>
  </p>
</div>
<div class="_83TND">83 TND</div>
<div class="ellipse172"><img src="assets/ellipse-17-icon2.svg" alt="" class="icon29" /></div>
<div class="_502">-50%</div>
<div class="rectangle3884"></div>
<div class="enStock5">En stock</div>
<div class="ellipse384"><img src="assets/ellipse-38-icon4.svg" alt="" class="icon30" /></div>
<div class="organizeItAllBambooDoubleWide32"></div>
<div class="rectangle337"></div>
<div class="exclusivementPourVous">Exclusivement pour vous !</div>
<div class="offrezVousDesPiecesUniquesQuiN">
  <div class="textBlock3">Offrez-vous des pieces uniques</div>
  <div class="textBlock4">qui ne sont disponibles qu’ici.</div>
</div>
<div class="rectangle3383"></div>
<div class="personnaliser">Personnaliser</div>
<div class="captureDEcran20243251929111"></div>
<div class="rectangle297"><img src="assets/rectangle-297-icon.svg" alt="" class="icon31" /></div>
<div class="explorezNosCollectionsSoigneus">
  <div class="textBlock5">Explorez nos collections</div>
  <div class="textBlock6">soigneusement choisies</div>
  <div class="textBlock7">et trouvez l&amp;#39;inspiration</div>
  <div class="textBlock8">pour créer l&amp;#39;espace de</div>
  <div class="textBlock9">vos rêves.</div>
</div>
<div class="rectangle298"></div>
<div class="enSavoirPlus">En savoir plus</div>
<div class="vECTORRIGHT"><img src="assets/vector-right-icon.svg" alt="" class="icon32" /></div>
<div class="vECTORLEFT"><img src="assets/vector-left-icon.svg" alt="" class="icon33" /></div>
<div class="captureDEcran2024331407433"></div>
<div class="rectangle426"></div>
<div class="prix295TND">
  <p class="labelWrapper8">
    <span class="label20">Prix : 295 TND</span>
    <span class="label21"></span>
    <span class="label22"></span>
  </p>
</div>
<div class="vasque">Vasque</div>
<div class="captureDEcran2024331417342"></div>
<div class="rectangle425"></div>
<div class="prix270TND">
  <p class="labelWrapper9">
    <span class="label23">Prix : 270 TND</span>
    <span class="label24"></span>
    <span class="label25"></span>
  </p>
</div>
<div class="table2">Table</div>
<div class="captureDEcran2024331406492"></div>
<div class="buffet">Buffet</div>
<div class="rectangle424"></div>
<div class="prix320TND">
  <p class="labelWrapper10">
    <span class="label26">Prix : 320 TND</span>
    <span class="label27"></span>
    <span class="label28"></span>
  </p>
</div>
<div class="nosCoupsDeCoeur">Nos coups de coeur</div>
<div class="nosBlogs">Nos Blogs</div>
<div class="trouvezUneBrillanteIdeeQuiCorr">
  <div class="textBlock10">Trouvez une brillante idée qui correspond à vos goûts</div>
  <div class="textBlock11">avec notre grande sélection.</div>
</div>
<div class="rectangle305"></div>
<div class="captureDEcran2024331406491"></div>
<div class="rectangle311"></div>
<div class="designTrends">Design trends</div>
<div class="lesCOULEURASSOCIERAVECLEBOIS">Les COULEUR ASSOCIER AVEC LE BOIS</div>
<div class="uneGrandeVarieteDeTeintesSeMar">
  <div class="textBlock12">une grande variété de teintes se marie avec le mobilier</div>
  <div class="textBlock13">en bois ! Pour faire votre choix, il est important de prendre</div>
  <div class="textBlock14">en compte votre décoration intérieure et ...</div>
</div>
<div class="lireLaSuite">Lire la suite</div>
<div class="rectangle306"></div>
<div class="captureDEcran2024331407431"></div>
<div class="voulezVousSavoirCeQueNousReser">
  <div class="textBlock15">Voulez-vous savoir ce que nous réserve 2024 côté déco ?</div>
  <div class="textBlock16">Entre come-back des couleurs feel good et nouvelles modes,</div>
  <div class="textBlock17">découvrez en avant-première les 10 tendances qui ...</div>
</div>
<div class="lES10INSPIRATIONSASUIVRECETTEA">LES 10 INSPIRATIONS À SUIVRE CETTE ANNÉE !</div>
<div class="rectangle313"></div>
<div class="inspiration">Inspiration</div>
<div class="lireLaSuite2">Lire la suite</div>
<div class="rectangle307"></div>
<div class="captureDEcran2024331417341"></div>
<div class="rectangle312"></div>
<div class="decoration">Decoration</div>
<div class="_5ERREURSAEVITERDANSVOTRECUISIN">5 ERREURS À EVITER DANS VOTRE CUISINE</div>
<div class="vousAvezEnvieDeRenouveauMaisVo">
  <div class="textBlock18">Vous avez envie de renouveau mais vous ne savez pas</div>
  <div class="textBlock19">comment vous y prendre pour créer une cuisine</div>
  <div class="textBlock20">fonctionnelle et tendance ? Vous allez être ...</div>
</div>
<div class="lireLaSuite3">Lire la suite</div>
<div class="fLECHEDROITE"><img src="assets/fleche-droite-icon.svg" alt="" class="icon34" /></div>
<div class="fLECHEGAUCHE"><img src="assets/fleche-gauche-icon.svg" alt="" class="icon35" /></div>
<div class="rectangle310"></div>
<div class="eTOILE3"><img src="assets/etoile3-icon.svg" alt="" class="icon36" /></div>
<div class="jeSuisRavieDeMonExperienceAvec">
  <div class="textBlock21">Je suis ravie de mon expérience avec ce</div>
  <div class="textBlock22">site ! J&amp;#39;ai commandé une armoire et une</div>
  <div class="textBlock23">commode pour ma chambre et je suis</div>
  <div class="textBlock24">impressionnée par la qualité du bois et</div>
  <div class="textBlock25">de la fabrication. La livraison a été rapide</div>
  <div class="textBlock26">et les meubles étaient bien protégés.</div>
</div>
<div class="fatma">Fatma</div>
<div class="_20000047286923"></div>
<div class="rectangle309"></div>
<div class="eTOILE2"><img src="assets/etoile2-icon.svg" alt="" class="icon37" /></div>
<div class="jeSuisUnClientFideleDeCeSiteDe">
  <div class="textBlock27">Je suis un client fidèle de ce site depuis</div>
  <div class="textBlock28">plusieurs années et je n&amp;#39;ai jamais été</div>
  <div class="textBlock29">déçu ! J&amp;#39;ai acheté divers meubles pour</div>
  <div class="textBlock30">mon appartement et chaque fois, la</div>
  <div class="textBlock31">qualité et le service ont été impeccables.</div>
</div>
<div class="hatem">Hatem</div>
<div class="_20000047286922"></div>
<div class="rectangle308"></div>
<div class="eTOILE1"><img src="assets/etoile1-icon.svg" alt="" class="icon38" /></div>
<div class="JAiRecemmentCommandeUneTableAM">
  <div class="textBlock32">&amp;quot;J&amp;#39;ai récemment commandé une table</div>
  <div class="textBlock33">à manger et des chaises sur ce site et</div>
  <div class="textBlock34">je suis très satisfaite de mon achat !</div>
  <div class="textBlock35">La qualité des meubles est excellente</div>
  <div class="textBlock36">et le processus de commande était</div>
  <div class="textBlock37">simple et fluide.</div>
</div>
<div class="mariem">Mariem</div>
<div class="_20000047286921"></div>
<div class="avisClient">Avis Client</div>

<div class="rectangle333"></div>
<div class="deliveryTruck_2769339"></div>
<div class="livraisonEtExpedition">Livraison et Expedition</div>
<div class="livraisonFiableEtRapide">Livraison fiable et rapide</div>
<div class="rectangle283"></div>
<div class="garantie1"></div>
<div class="garantieDeRetour">Garantie de retour</div>
<div class="produitsDeQualite">Produits de qualité</div>
<div class="rectangle335"></div>
<div class="satisfaction"></div>
<div class="satisfactionGarantie">Satisfaction Garantie</div>
<div class="servicesDeQualite">Services de qualité</div>
<div class="rectangle334"></div>
<div class="_16111731"></div>
<div class="reduction">Réduction</div>
<div class="lesMeilleursPrix">Les meilleurs prix</div>

<div class="newsletter">Newsletter</div>
<div class="neRatezPasNosOffresExclusivesC">
  <div class="textBlock38">Ne ratez pas nos offres exclusives, codes promos et nouveautés !</div>
  <div class="textBlock39">vous pouvez désinscrire à tout moments.</div>
</div>
<div class="rectangle295"></div>
<div class="sInscrire">S’inscrire</div>
<div class="rectangle294"></div>
<div class="votreEmail">Votre email</div>

<div class="rectangle431"></div>
<div class="social"></div>
<div class="linkedin4"></div>
<div class="facebook4"></div>
<div class="instagram4"></div>
<div class="contactezNous2">Contactez-Nous</div>
<div class="livraisonEtRetours">Livraison et retours</div>
<div class="lesPolitiquesDeConfidentialite">Les politiques de confidentialité</div>
<div class="optionsDePaiement">Options de paiement</div>
<div class="aideEtServices">Aide et Services</div>
<div class="aPropos">A propos</div>
<div class="boutique">Boutique</div>
<div class="accueil">Accueil</div>
<div class="liens">Liens</div>
<div class="_433684812_258374630674984_1867"></div>

<div class="rectangle432"></div>
<div class="_2024WoodlyMoodAllRightsReverve">2024 Woodly Mood. All rights reverved</div>
</body>
</html>