<router-outlet />
<app-accueilpart1></app-accueilpart1>
<app-accueilpart2></app-accueilpart2>
<app-accueilpart3></app-accueilpart3>
<app-accueilpart4></app-accueilpart4>
<app-accueilpart5></app-accueilpart5>
<app-accueilpart6></app-accueilpart6>
<app-accueilpart7></app-accueilpart7>
<app-accueilpart8></app-accueilpart8>
<app-accueilpart9></app-accueilpart9>


<!--<app-accueil2></app-accueil2>-->
<!--<app-header></app-header>
<app-footer></app-footer>
<app-downfooter></app-downfooter>
<app-inscription></app-inscription>-->
<!--<app-inscri></app-inscri>
<app-personnaliser></app-personnaliser>
<app-accueil></app-accueil>
<app-perso></app-perso>-->